{% extends "base.html" %}
{% load static %}
{% block head %}
  <style>  
      a:hover{
              color:ghostwhite; font-weight:bold;
      }

      .custom-toggler.navbar-toggler {
        border:3px solid white;
        }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    .nav-link:hover{
        background-color:#FFCC00 ;
        }
  </style>
{% endblock %}
{% block myblock %}
{% if user.is_superuser %}
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 px-0">
            <div style="box-shadow:0px 0px 5px black; height:550px; background:url('{% static "images/forbiddn.png" %}'); background-size:100% 100%;">
           </div>
          </div>
      </div>
  </div>

{% else %}
<div class="container-fluid">
    <div class="row">
        <!--left side menu-->
        <div class="col-md-3 px-0" style="background-color:gainsboro;"> <!--start of col-md-2 -->
            <nav class="navbar navbar-expand-md"> 
                <button class="navbar-toggler mx-auto custom-toggler bg-primary" data-toggle="collapse" data-target="#collapse_target" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="collapse_target"> </div>
                       
                <ul class="navbar-nav mx-auto flex-column text-dark">
                    <li class="nav-item">
                        <h4 href="" class="navbar-brand" style="font-weight:bold;">Manage Account<hr>
                            <div class="text-center">
                                {% if data.profile_pic %}
                                <img src="/media/{{data.profile_pic}}" style="height:90px;width:90px;border-radius:50%; border:2px solid skyblue;">
                                {% else %}
                                <img src="{% static 'images/user.png' %}" style="height:80px;width:80px;border-radius:50%">
                                {% endif %}
                            </div>
                        </h4>
                    </li>
                    
                    <li class="nav-item">
                        <a href="{% url 'customer_dashboard'%}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-user text-primary mr-1"></i>My Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-user-cog text-primary mr-1"></i></i>Edit Profile</a>
                    </li>

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'sendemail' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-envelope-square mr-1 text-primary" style="font-size:20px;"></i>Send Emails</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="{% url 'add_property_view' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-plus mr-1 text-primary" style="font-size:22px;"></i>Submit New Property</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'my_properties' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-home mr-1 text-primary"></i>My Properties</a>
                    </li>

                    {% endif %}

                    
                    <li class="nav-item">
                        <a href="{% url 'change_password' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-lock mr-1 text-primary"></i>Change Password</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5"><i class="fas fa-sign-out-alt mr-1 text-primary"></i>Logout</a>
                    </li>
                   
                </ul>
            
            </nav>
        </div> <!--end of col-md-2 -->

        <div class="col-md-9">
            {% block dashboard%}

            {% endblock%}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}